
main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}

.section {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
}

col {
    width: 50%; /* This line makes the two colums of the second table have a width of 50% each so they match with the above table. */
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 90%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

input[type=text] {
    width: 100%;
    margin: 10px 5px;
}

input[type=submit] {
    margin: 10px 5px;
}

